body {
  background-color: #111827;
  margin: 0;
}

.App {
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

.alt-style {
  background-color: white;
  text-align: center;
  color: #717d97;
}


