html, body {
  margin: 0;
  padding: 0;
}

.App body {
  background-color: #111827;
  scroll-behavior: smooth;
}

span {
  color: #717d97;
  font-weight: bold;
  font-size: 1.5em;
  }

.App {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  background-color: #111827;
}

.App-alt-style {
  background-color: white;
  text-align: center;
}

.App-alt-style body {
  background-color: white;
  text-align: center;
}

.App-alt-style h2 {
  display: none;
}

.App-alt-style #subtitle {
  display: none;
}

.App-alt-style #projets {
  display: none;
}




