.title h1 {
    font-family: 'Roboto', sans-serif ;
    font-size: 2em;
    color: #48BB78;
    margin-top: 2.5em;
    display: block;
}

.title-alt-style h1 {
    font-family: 'Roboto', sans-serif ;
    font-size: 2em;
    color: #717d97;
    margin-top: 1.5em;
    display: block;
}

@media screen and (max-width: 415px) {

    .title h1 {
        font-size: 1.7em;
        
    }

}