.skills {
    margin-top: 6em;
}

.skills h2 {
color: white;
font-size: 2em;
}

.skills span {
    margin-bottom: 1em;
    display: inline-block;
    width: 55vw;
}

.skills li {
    display: inline-block;
    text-align: left;
    color: white;
    font-size: 1em;
    width: 32vw;
    background-color: #1F2937;
    margin: 0.5em;
    padding: 1em;
    border-radius: 20px;
}

.skills ul li img {
    margin-right: 0.5em;
}

@media screen and (max-width: 1024px) {
    .skills li {
     font-size: 0.65em;
    }
    .skills ul li img {
       width: 11px;
       height: 11px;
    }
  }

  @media screen and (max-width: 768px) {

    .skills li {
        font-size: 0.55em;
       }
  }

  @media screen and (max-width: 575px) {

    .skills li {
        font-size: 0.15em;
        padding: 2em;
       }

    .skills ul li img {
        width: 5px;
        height: 5px;
     }
  }

  @media screen and (max-width: 415px) {

    .skills span {
        width: 85vw;
        font-size: 0.8em;
    }

    .skills li {
        font-size: 0.5em;
        width: 40vw;
        margin-left: auto;
        margin-right: auto;
       }
    
  }
