.buttonCV {
    display: inline-block;
    margin: 0.5em;
    padding: 1em;
    background-color: #1F2937;
    color: #717d97 ;
    text-decoration: none;
    border-radius:20px;
}

.buttonCV:hover {
    background-color: #3e4b5c;
    color: white;
}

@media screen and (max-width: 415px) {

    .buttonCV {
        margin: 1em;
        padding: 1em;
        background-color: #1F2937;
        color: #717d97 ;
        font-size: 1em;
        width: 55vw;
    }
    
  }
