.contact {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 1em;
    margin-top: 2em;
    margin-bottom: 2em;
}

.contact a {
    text-decoration: underline;
    color: inherit;
    font-weight: bold;
}

.contact img {
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1.5em;
}

.contact h3 {
    color: white;
    font-size: 2em;
}

.contact iframe {
    display: inline-block;
    margin: 0 auto;
    margin-top: 2em;
    margin-bottom: 2em;
    width: 45vw;
    height: 55vh;
}

.contact-alt-style {
    display: none;
}

@media screen and (max-width: 430px) {
   .contact span {
       width: 85vw;
       font-size: 1em;
   }
   .contact iframe {
    width: 65vw;
    height: 45vh;
}
  }

@media screen and (max-width: 415px) {
    .contact iframe {
        width: 60vw;
        height: 50vh;
    }

    .contact span {
        font-size: 1em;
    }
  }

  @media screen and (max-width: 320px) {

    .contact span {
        font-size: 1em;
        width: 85vw;
       }
  
  }

