.header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    background-color:#1F2937 ;
    position: fixed;
    top: 0; 
    width: 100vw;
}

.header-alt-style {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    background-color:white ;
    position: fixed;
    top: 0; 
    width: 100vw;
}

@media screen and (max-width: 320px) {

    .header {
      justify-content: space-evenly;
       }
  }
  