.navbar {
    font-size: 1em;
    background-color: #1F2937;
    font-weight: bold;
    /* position: fixed; */
    text-align: left;
}

.navbar li {
    display: inline;
    margin-right: 3em;
    color: #717d97;
}