.footer {
    font-size: 1em;
    background-color: #1F2937;
    color: #717d97;
    font-weight: bold;
    text-align: center;
    padding: 2em;
    margin-top: 2em;
}

@media screen and (max-width: 415px) {

    .footer {
    font-size: 0.5em;
    padding: 1.5em;
     
    }
  
  }

@media screen and (max-width: 320px) {

    .footer {
    
    font-size: 0.5em;
    padding: 1.5em;
     
    }
  
  }