.buttonDarkMode {
    display: block;
    text-align: center;
    margin: 1em auto;
    background-color:#717d97 ;
    border-radius: 30px;
    padding: 0.5em;
    border: none;
}

.buttonDarkMode:hover {
    background-color: #3e4b5c;
    color: white;
}

