.socialMediaNavbar {
    font-size: 1em;
    color: black;
}

.socialMediaNavbar img {
    display: inline-block;
    margin-right: 1.5em;
    margin-top: 0.5em;
    text-align: right;
}

.socialMediaNavbar img:hover {
   fill: white;
}